/* About section */
.about-left {
  position: relative;
}
.about-img-1 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  left: 30%;
}

.about-right {
  max-width: 450px;
}

.about-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.about-img-3 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 0;
}

.about-text {
  color: #787878;
  font-size: 18px;
  line-height: 30px;
}

.about-list-item {
  font-size: 20px;
  font-weight: 600;
}

.about-list-item i {
  margin-right: 15px;
  color: var(--primary);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .about-img-1 {
    border-radius: 0;
    position: initial;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .about-img-2,
  .about-img-3 {
    display: none;
  }
}
