/* About section */

.about-section {
  background-color: rgba(0.0, 0.0, 0.0, 1.0);
}
.about-left {
  position: relative;
}
.about-img-1 {
  width: 300px;
  height: 300px;  
  position: initial;
  top: 100px;
  left: 100px;
}

.about-right {
  max-width: 450px;
}


.about-text {
  color: #787878;
  font-size: 18px;
  line-height: 30px;
}

.about-list-item {
  font-size: 20px;
  font-weight: 600;
}

.about-list-item i {
  margin-right: 15px;
  color: var(--primary);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .about-img-1 {    
    position: initial;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .about-img-2,
  .about-img-3 {
    display: none;
  }
}
