/* CTA */
.cta {
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-wrapper {
  position: relative;
}

.cta-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.cta-title {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.cta-btn {
  text-decoration: none;
  color: var(--primary);
  font-size: 22px;
  font-weight: 600;
  background-color: #fff;
  padding: 12px 40px;
  border-radius: 40px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 250px;
  margin: 0 auto;
  transition: all ease-in 0.3s;
}

.cta-btn:hover {
  background-color: #333;
  color: #fff;
}

.cta-btn i {
  position: absolute;
  right: 10px;
  font-size: 34px;
}
