/* Data Analysis */
.data-analysis-section {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 76vh;
  background-color: #3b7ef1;
  padding: 80px 0;
}

.data-container {
  max-width: 500px;
}

.data-title,
.data-sub {
  color: var(--secondary);
}

.data-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-box {
  background-color: rgb(44, 54, 139);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 10px 30px;
}

.data-box i {
  font-size: 24px;
}

.data-box-content {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 34px;
  font-weight: 700;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .data-analysis-section img {
    background-image: none;
  }
}
