.chat-body {
    width: 550px;
    margin: 50px auto;
}
.card-body {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}
.server-message {
    background-color: #444;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.client-message {
    background-color: #555;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.form-inline {
    display: flex;
    justify-content: space-between;
}
.form-control {
    width: 80%;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}
#send {
    background-color: #4C4CFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.form-message {
  margin-top: 10px;
}

.form-container {   
    height: 320px;
    padding: 10px;    
    overflow: scroll;
    position: relative;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* handle new line in text returned from gpt */
.display-linebreak {
    white-space: pre-line;
  }