/* Footer */
footer {
  padding: 50px 0;
  background-color: var(--ascent);
  color: #fff;
}

.ft-logo {
  width: 150px;
  margin-bottom: 20px;
}

.ft-title {
  font-size: 22px;
  font-weight: 700;
}

.ft-text {
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 30px;
}

.ft-icon {
  padding: 12px 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 20px;
}

.ft-icon:hover {
  background-color: #3b7ef1;
  cursor: pointer;
}

.ft-icon i {
  font-size: 14px;
  margin-bottom: 30px;
}

.footer-links i {
  margin-right: 6px;
}

.footer-links {
  margin-bottom: 20px;
}

.ft-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.dev a {
  text-decoration: none;
  color: #3b7ef1;
}
